<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Valor da diaria {{ ValorDiaria }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-range min="0" max="160" step="1"
      [(ngModel)]="ValorDiaria"></ion-range>
      </ion-item>

      <ion-item>
      <ion-label>Quantidade de dias {{ QntdDias }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-range min="0" max="30" step="1"
      [(ngModel)]="QntdDias"></ion-range>
      </ion-item>

      <ion-button expand="block" (click)="abrirTela()">cadastrar</ion-button>
</ion-content>
